div{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: purple;
  color: wheat;
}

h1{
  text-align: center;
  
}

h3{
  text-align: center;
 
}

body{
  background-color: purple;
}
